<!-- Signin section -->
<section id="auth-signin">

    <form action="/signin" method="post" class="auth">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>
    
        <div class="field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
    
        <div class="field">
            <label for="remember">Remember me</label>
            <input type="checkbox" id="remember" name="remember" checked>
        </div>
    
        <input type="submit" value="Create">
    </form>

</section>
