<!-- Signin section -->
<section id="auth-signin">

    <form id="signin-form" class="auth">
        <div class="field">
            <label for="username-signin">Username</label>
            <input type="text" id="username-signin" name="username">
        </div>
    
        <div class="field">
            <label for="password-signin">Password</label>
            <input type="password" id="password-signin" name="password">
        </div>
    
        <div class="field">
            <label for="remember-signin">Remember me</label>
            <input type="checkbox" id="remember-signin" name="remember" checked>
        </div>
    
        <input type="submit" value="Log in">
    </form>

</section>
