<!-- Signup section -->
<section id="auth-signup">
    <p>
        temporary session
        or
        create an account
    </p>
    
    <h1>Create a temporary session</h1>
    <form action="/signup/?temp" method="post">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>

        <div class="field">
            <label for="expires">Expires in</label>
            <select name="expires" id="expires">
                <option value="<%= 86400000 %>" selected>1 day</option>
                <option value="<%= 7 * 86400000 %>">1 week</option>
                <option value="<%= 30 * 86400000 %>">1 month</option>
            </select>
        </div>

        <input type="submit" value="Create">
    </form>


    <h1>Create an account</h1>
    <form action="/signup" method="post">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
        </div>

        <label for="remember">Remember me</label>
        <input type="checkbox" id="remember" name="remember" checked>

        <input type="submit" value="Create">
    </form>


</section>
