<section class="screen-wrapper" id="friend-request">
    <div class="screen">
        <div>
            <h1>Send friend request</h1>
            <div class="field">
                <input placeholder="Enter username" id="friend">
                <input type="button" value="Send" id="send-friend-request">
            </div>
        </div>
    </div>
</section>