<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/index.css">
        <title>Chatnow</title>
    </head>

    <body>
        <main>
            <div class="sidebar">
                <ul id="users">
                    
                </ul>
            </div>
            <div class="chat">
                <div class="messages">
                    <ul id="msg-list">

                    </ul>
                </div>
                <form id="form">
                    <input type="text" placeholder="New message" id="msg-inp">
                    <input type="submit" value="Send" id="send-msg">
                </form>
            </div>
        </main>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/index.js"></script>

</html>