<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abel&family=Nova+Mono&family=Ubuntu&display=swap" rel="stylesheet">

        <!-- My Stylesheets -->
        <link rel="stylesheet" href="styles/index.css">
        <link rel="stylesheet" href="styles/auth.css">

        <!-- Favicon and manifest -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <title>Chatnow</title>
    </head>

    <body>
        <main>
            <div id="sidebar">
                <header id="profile"><input type="text" id="profile-username" autocomplete="off" disabled></header>
                <ul id="user-list">
                    
                </ul>
            </div>
            <div id="chat">
                <header id="current-chat">
                    <div id="back" class="material-symbols-rounded">arrow_back</div>
                    <div id="current-user"></div>
                </header>

                <ul id="msg-list">
                
                </ul>

                <form id="form">
                    <input type="text" placeholder="New message" id="msg-inp" autocomplete="off">
                    <button id="send" class="material-symbols-rounded">send</button>
                </form>
            </div>
        </main>
        
        <div id="auth-wrapper">
            
            <div id="auth">
                <div id="toggle">
                    <h1 id="toggle-signin" class="selected">Log In</h1>
                    <h1 id="toggle-signup">Sign Up</h1>
                </div>
                <%- include('./auth/signin') %>
                <%- include('./auth/signup') %>
            </div>

        </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/socket.js"></script>
    <script src="scripts/index.js"></script>
    <script src="scripts/auth.js"></script>

</html>