* {
    box-sizing: border-box;
    color: #adb5bd;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

body {
    margin: 0;
    font-family: 'Nova Mono', monospace;
    background-color: #212529;
}

main {
    height: 100vh;
    display: flex;
}

#sidebar {
    flex-grow: 1;
    background-color: #343a40;

    min-width: 10rem;
    max-width: 20rem;
    border-right: 2px solid #adb5bd;

}

#profile {
    height: 3rem;
    padding: 0 1rem;
    background-color: #495057;
    display: flex;
}

#profile-username {
    background-color: #495057;
    border: none;
    outline: none;
    font-size: initial;
}

#user-list {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    max-height: 90vh;
    overflow-y: auto;
}
#user-list::-webkit-scrollbar { display: none; }

.user {
    position: relative;
    padding: 1rem;
    border-bottom: 1px solid #212529;
    max-width: 15rem;
    margin: 0 auto;
    cursor: pointer;
}

.user:hover {
    background-color: #212529;
}

.user--unread {
    position: absolute;
    top: .3rem;
    right: .3rem;

    font-size: small;
    /* border: 1px solid #212529  ; */
    background-color: #212529;
    border-radius: 1rem;
    padding: .3rem;
}

.user--selected {
    background-color: #212529;
}










#chat {
    display: flex;
    flex-direction: column;

    flex-grow: 3;
    /* padding: 1rem; */
}

#current-chat {
    height: 3rem;
    padding: 0 1rem;
    background-color: #495057;
    display: flex;
}

#back {
    display: none;
    align-items: center;
    cursor: pointer;
    padding-right: .5rem;
}

#current-user {
    display: flex;
    align-items: center;
}

#form {
  display: flex;
  height: 3rem;
  margin: 1rem;
}

#msg-inp {
    flex-grow: 1;
    
    min-height: 2rem;
    border-left: none;
    border-right: none;
    border-top: none;
    padding: 0 1rem;
    border-radius: .3rem;

    background-color: #6c757d;
}

#msg-inp::placeholder {
    color: #adb5bd;
}

#msg-inp:focus {
    border: none;
    outline: none;
    background-color: #6c757d;
}

#send {
    /* Remove button styles */
    background-color: unset;
    margin: 0;
    padding: 0;
    border: none;

    display: flex;
    align-items: center;
    padding-left: .6rem;
    cursor: pointer;
}

#msg-list {
    flex-grow: 1;
    list-style-type: none;
    
    max-height: 90vh;
    margin: 1rem;
    padding: 0;
    overflow-y: auto;
}
#msg-list::-webkit-scrollbar { display: none; }

.msg {
    position: relative;

    width: fit-content;
    min-width: 5rem;
    max-width: 20rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .3rem;
    
    background-color: #343a40;
}

.msg > * {
    padding: 0;
    margin: 0;
}

.my-msg {
    margin-left: auto;
}

.msg--text {
    margin-bottom: 1rem;

}

.msg--sender {
    opacity: .5;
    margin-right: 1rem;
    font-weight: bold;
}

.msg--timestamp {
    font-size: x-small;
    position: absolute;
    bottom: 0;
    right: 0.1rem;
    padding: .2rem;
}


@media screen and (max-width: 700px) {
    #chat {
        display: none;
    }

    #sidebar {
        max-width: 100%;
    }

    .user {
        max-width: 90%;
    }
}

.screen-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 97vw;
    height: 97vh;

    border-radius: .3rem;
    background-color: #2e3440;
}

.loader {
    height: 50px;
    width: 50px;
    border: 3px solid transparent;
    border-top: 3px solid #adb5bd;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
}